<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ometriasdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver android:name=".notifications.OmetriaPushNotificationDismissReceiver" />
    </application>
</manifest>